.prepended_input{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: transparent;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

input{
    outline: none;
    border: 1px solid var(--light-gray);
    border-radius: .2rem;
    height: 2.5rem;
    width: 100%;
    padding: 0 .5rem;
}

input::placeholder{
    color: var(--light-dark-gray);
}

label{
    display: block;
    font-size: .8rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: .5rem;
}
.prepend{
    position: absolute;
    top: 2rem;
    left: .5rem;
    height: 2.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    font-size: .8rem;
    /* border: 1px solid var(--light-gray); */
    border-radius: .2rem;
    padding: 0 1rem;
}